
@{
    ViewBag.Title = "App IFES";
}

<h5>Últimas Notícias</h5>

<div class="row">
    <div class="item-page">

        <div  class="col-lg-4">
            <div class="jumbotron">

                <h1 class="documentFirstHeading">
                    Chamada interna de alunos para voluntariado em projeto de iniciação científica
                </h1>

                <span class="documentPublished">
                    Publicado: Quinta, 21 de Setembro de 2017, 11h59
                </span>
               
                <div class="description">
                    <p>O estudante selecionado dar&aacute; apoio ao desenvolvimento de um projeto da &aacute;rea de automa&ccedil;&atilde;o.</p>
                </div>

                <p>Alunos do Campus Serra interesados em participar do projeto de Inicia&ccedil;&atilde;o Cient&iacute;fica Volunt&aacute;rio 2017 devem se increver at&eacute; amanh&atilde; (22). Para participar basta enviar email para richard@ifes.edu.br solicitando agendamento de entrevista.<br />&nbsp;<br />O candidato selecionado dar&aacute; apoio ao Desenvolvimento de uma Interface Homem-M&aacute;quina de tipo "Speller" para digitar textos. O projeto &eacute; coordenado pelo professor Richard Godinez Tello e faz parte dos trabalhos desenvolvidos pelo N&uacute;cleo de Estudos em Rob&oacute;tica e Automa&ccedil;&atilde;o (Nera).</p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/bootstrap.min.js"></script>
